.sign-reg{
    width: 100vw;
    height: 100vh;
    background: url('../../images/wine.png') no-repeat center;
    background-size: 100%;
    background-color: black;
    width: 40%;
    margin-left: 25%;
}