.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    height: 80px;
    background-color: black;
    width: 88%;
    margin-left: 9%;
}
.menu{
    
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.sign{
    position: absolute;
   margin-left: 54%;
}

.mainHeader{
    width: 100%;
    background-color: black;
}